<!--Facebook Share Data-->
<div id="fb-root"></div>
<script>
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
    fjs.parentNode.insertBefore(js, fjs);
  }
  (document, 'script', 'facebook-jssdk'));
</script>

<!--Nav Bar-->
<ul class="nav nav-tabs nav-bar">
  <li class="nav-font"><a href="#/index">Home</a></li>
  <li class="nav-font"><a href="#/newRecipe">New Recipe</a></li>
  <li class="nav-font"><a href="#/searchRecipes">All Recipes</a></li>
  <li class="nav-font cookingTab"><a href="#/cooking">Cooking</a></li>
  <img class="logo" align="right" src="../Logo-2.png">
</ul>
<br>


<!--View Recipe Page-->

<div class="container">
  <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 newRecipeContainer">
    <h1 style="text-align: center;">{{recipe.title}}</h1>
    <div class="row" style="text-align: center;">
      <div class="col-xs-4">
        <p>Author: {{recipe.author}}</p>
        <p>Cook Time: {{timeDisplay}}</p>
        <p>Serves: {{recipe.servings}}</p>
        <p>Cuisine: {{recipe.cuisine}}</p>

        <div style="text-align: center;">
          <button ng-click="updateCurrentRecipe(recipe)" style="border-radius:5px;" class="bg-primary submit-recipe"> Start Cooking!</button>
          <!-- <div class="share-container">
            <div class="fb-share-button"
                 data-href="https://localhost:3000/#/viewRecipe/{{id}}"
                 data-layout="button"
                 data-size="large"
                 data-mobile-iframe="true">
              <a class="fb-xfbml-parse-ignore"
                 target="_blank"
                 href={{fbShareHref}}>
                 Share
              </a>
            </div>
          </div> -->
        </div>
      </div>
      <div class="col-xs-8">
        <div class="newRecipeContainer">
          <img src={{recipe.image}} style="max-width: 100%; max-height: 100%;">
        </div>
      </div>
    </div>

    <h4 style="text-align: center;">{{description}}</h4>

<!-- ingredients and steps -->

    <div class="row" style="text-align: center;">
      <div class="col-xs-4">
        <h3>Ingredients</h3>
        <div class="viewRecipeContainer">
          <p ng-repeat="item in recipe.ingredients">{{item}}
          <p>
        </div>
      </div>

      <div class="col-xs-8">
        <h3>Steps</h3>
        <div class="viewRecipeContainer">
          <p ng-repeat="item in recipe.steps">{{item.description}}
          <p>
        </div>
      </div>
    </div>

<!-- input comments -->
    <h3 style="text-align: center;">Comments</h3>
      <div class="viewRecipeContainer">
      <table class="table">
        <thead>
            <tr>
                <th class="col-xs-3">Username</th>
                <th class="col-xs-3">Date</th>
                <th class="col-xs-6">Comment</th>
            </tr>
        </thead>
        <tbody>
          <tr ng-repeat="comment in comments">
            <td>
              <span>{{comment.username}}</span></td>
            <td>
              <span>{{comment.date}}</span></td>
            <td>
              <span>{{comment.message}}</span></td>

          </tr>
        </tbody>
      </table>
      </div>

  </div>
</div>
